@import 'tailwindcss';

.CommanderContainer {
  container: CommanderContainer / inline-size;
  @apply overflow-clip rounded-md  p-1;
}

.Commander {
  @apply flex flex-wrap overflow-clip rounded-sm;
  background-color: var(--color-base-200);
}

.CommanderImage {
  @apply object-cover object-top;
  max-height: 100px;
  width: 100%;
}

.CommanderDetails {
  @apply flex flex-1 flex-col p-2;
  color: var(--color-base-content);
}
