@import 'tailwindcss';

.CommanderContainer {
  @apply overflow-clip rounded-md p-1;
  max-width: 160px;
}

.Commander {
  @apply flex flex-wrap overflow-clip rounded-sm;
  background-color: var(--color-base-200);
}

.CommanderImage {
  @apply object-cover object-top;
}

.CommanderDetails {
  @apply flex flex-1 flex-col p-2;
  color: var(--color-base-content);
}
