@import 'tailwindcss';

.Modal {
  max-height: 100vh;
  max-height: 100dvh;
  margin: auto;

  &:not([open]) {
    display: none;
  }

  &::backdrop {
    background: rgba(0, 0, 0, 0);
    backdrop-filter: blur(10px);
  }

  &.fullSize {
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    @apply max-w-[1024px];
  }
}

.Modal::backdrop {
  background: rgba(0, 0, 0, 0.5);
}
