@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

button {
  cursor: pointer;

  > * {
    text-align: initial;
  }
}

/* Hide elements with importance lower than current setting */
.importance-1.hidden-importance {
  display: none;
}

.importance-2.hidden-importance {
  display: none;
}

.importance-3.hidden-importance {
  display: none;
}

.importance-4.hidden-importance {
  display: none;
}

.importance-5.hidden-importance {
  display: none;
}

/* Modal */
dialog {
  margin: auto;
}

dialog:not([open]) {
  display: none;
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

/* Test IDs */
/* *[data-testid] {
  position: relative;

  &:hover {
    &::before {
      background-color: green;
    }
  }

  &::before {
    content: attr(data-testid);
    position: absolute;
    background-color: red;
    color: white;
    font-size: 7px;
    pointer-events: none;
    white-space: nowrap;
    padding: 2px 4px;
    border-radius: 4px;
  }
} */

/* Hide number input arrows for Chrome, Safari, Edge, Opera */
.hide-number-arrows::-webkit-outer-spin-button,
.hide-number-arrows::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

/* Hide number input arrows for Firefox */
.hide-number-arrows[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.PlayersSortingWrapper {
  flex: 1;
  display: grid;

  > div {
    &:nth-child(1) {
      grid-area: player-1;
    }

    &:nth-child(2) {
      grid-area: player-2;
    }

    &:nth-child(3) {
      grid-area: player-3;
    }

    &:nth-child(4) {
      grid-area: player-4;
    }

    &:nth-child(5) {
      grid-area: player-5;
    }
  }

  &[data-player-count='2'] {
    grid-template-areas:
      'player-1'
      'player-2';
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;

    > div:nth-child(1) .PlayerSection {
      transform: rotate(180deg);
    }
  }

  &[data-player-count='3'] {
    grid-template-areas:
      'player-1 player-3'
      'player-2 player-3';
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;

    > div:nth-child(1) .PlayerSection {
      transform: rotate(180deg);
    }

    > div:nth-child(3) .PlayerSection {
      transform: rotate(-90deg);
    }
  }

  &[data-player-count='4'] {
    grid-template-areas:
      'player-1 player-2'
      'player-3 player-4';
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;

    > div:nth-child(1) .PlayerSection,
    > div:nth-child(2) .PlayerSection {
      transform: rotate(180deg);
    }
  }

  &[data-player-count='5'] {
    grid-template-areas:
      'player-1 player-2 player-5'
      'player-3 player-4 player-5';
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;

    > div:nth-child(1) .PlayerSection,
    > div:nth-child(2) .PlayerSection {
      transform: rotate(180deg);
    }

    > div:nth-child(5) .PlayerSection {
      transform: rotate(-90deg);
    }
  }
}
